.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  position: fixed;
  z-index: 2;
  transition: height 0.5s ease;
}

.nav-top {
  background-color: transparent;
  height: 6rem;
}

.nav-scroll {
  background-color: #0f375d;
  height: 4rem;
}

.nav-logo {
  padding-left: 5%;
}

.logo-top {
  width: 40%;
  transition: width 0.5s ease;
}

.logo-scroll {
  width: 20%;
  transition: width 0.5s ease;
}

@media only screen and (max-width: 768px) {
  .logo-scroll {
    width: 40%;
    transition: width 0.5s ease;
  }
}

.nav-links-container {
  padding-right: 5%;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
}

.nav-links-top {
  font-size: 3em;
}
.nav-links-scroll {
  font-size: 2em;
}

.nav-links-mobile {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  top: 70px;
  left: 0;
  margin: 0;
  font-size: 1.5em;
  background-color: rgb(15, 55, 93, 0.8);
  padding: 0;
  width: 100%;
}

.nav-links-mobile-removed {
  display: none;
}

.nav-link-tag {
  margin-left: 4rem;
  text-decoration: none;
  font-size: 0.6em;
  color: #ffffff;
}

.nav-link-tag-mobile {
  padding: 1.5rem 0;
  text-decoration: none;
  color: #ffffff;
  font-size: 0.7em;
}

.nav-menu-icon {
  width: 2.5rem;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.nav-link-tag {
  background-image: linear-gradient(to left, #ffffff, #fff 50%, #e0de34 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.nav-link-tag:before {
  content: "";
  background: #e0de34;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.nav-link-tag:hover {
  background-position: 0;
}

.nav-link-tag:hover::before {
  width: 100%;
}

@media screen and (min-width: 769px) {
  .nav-menu-icon {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(15, 55, 93, 0.8);
    width: 100%;
    height: 70px;
    position: relative;
    position: fixed;
    z-index: 2;
    font-family: "Libre Baskerville", serif;
  }
  .logo {
    width: 30%;
  }
  .nav-links {
    display: none;
  }
  .nav-link-tag {
    margin: 0;
    text-decoration: none;
  }
  .nav-logo {
    padding-left: 10%;
  }

  .nav-menu-cancel-icon {
    width: 60%;
  }
}
